//全站設定
html,
body {
  width: 100%;
  overflow-x: hidden !important;
  font-family: "Raleway", sans-serif;
}
// 小元件
.d_none {
  display: none !important;
}
.lh_1 {
  line-height: 1 !important;
}
.lh_15 {
  line-height: 1.5 !important;
}
.mobileShow {
  display: flex;
  @include media-breakpoint-up(md) {
    display: none;
  }
}
.mobileShowBlock {
  display: block;
  @include media-breakpoint-up(md) {
    display: none;
  }
}
.mobileShow_xl {
  display: flex;
  @include media-breakpoint-up(xl) {
    display: none;
  }
}
.mobileHide {
  display: none;
  @include media-breakpoint-up(md) {
    display: flex;
  }
  &_lg {
    display: none;
    @include media-breakpoint-up(lg) {
      display: flex;
    }
  }
  &_xl {
    display: none;
    @include media-breakpoint-up(xl) {
      display: flex;
    }
  }
  &_xl_block {
    display: none;
    @include media-breakpoint-up(xl) {
      display: block;
    }
  }
}
.mobileDesktopShow {
  display: flex;
  @include media-breakpoint-up(md) {
    display: none;
  }
  @include media-breakpoint-up(xl) {
    display: flex;
  }
}
.tabletShow {
  display: none;
  @include media-breakpoint-up(md) {
    display: flex;
  }
  @include media-breakpoint-up(xl) {
    display: none;
  }
}
.desktopShow {
  display: none !important;
  @include media-breakpoint-up(xl) {
    display: flex !important;
  }
}
.desktopHide {
  display: flex !important;
  @include media-breakpoint-up(xl) {
    display: none !important;
  }
}
.flex-row-md {
  @include media-breakpoint-up(md) {
    flex-direction: row !important;
  }
}
.justify-content-between-lg {
  @include media-breakpoint-up(lg) {
    justify-content: space-between !important;
  }
}
.d-flex-xl {
  @include media-breakpoint-up(xl) {
    display: flex;
  }
}
.positionTop_0 {
  top: 0;
}
.positionTopLayout {
  top: 56px;
  @include media-breakpoint-up(md) {
    top: 72px;
  }
}
.zIndex100 {
  z-index: 100;
}
.zIndexMax {
  z-index: 10000;
}
.navbarHeightAuto {
  height: 56px;
  @include media-breakpoint-up(md) {
    height: 72px;
  }
}
.mt_navbar {
  margin-top: 56px;
  @include media-breakpoint-up(md) {
    margin-top: 72px;
  }
}
.rounded_10 {
  border-radius: 10px;
}
.rounded_left {
  border-top-left-radius: 0.25rem !important;
  border-bottom-left-radius: 0.25rem !important;
}
.rounded_right {
  border-top-right-radius: 0.25rem !important;
  border-bottom-right-radius: 0.25rem !important;
}
.opacity_0 {
  opacity: 0;
}
.opacity_md_1 {
  @include media-breakpoint-up(md) {
    opacity: 1;
  }
}
.verticalLine {
  border-right: solid 1px #e6e3e3c2;
}
.h_84 {
  height: 84% !important;
}
.listStyle_none {
  list-style: none;
}
.w_50 {
  width: 50%;
  &_xl {
    width: auto;
    @include media-breakpoint-up(xl) {
      width: 50%;
    }
  }
}
.textTransform_none {
  text-transform: none;
}
.textTransform_uppercase {
  text-transform: uppercase;
}
.textDecorationNone {
  text-decoration: none;
}
// 取消select預設樣式
.selectArrowNone {
  appearance: none;
}
//字體設定
.fontRoboto {
  font-family: "Roboto", sans-serif;
}
.fontJhengHei {
  font-family: "Microsoft JhengHei", sans-serif;
}
.fontOpenSans {
  font-family: "Open Sans", sans-serif;
}
.fontRaleway {
  font-family: "Raleway", sans-serif;
}
// 字體大小
.fz_8 {
  font-size: 8px;
}
.fz_10 {
  font-size: 10px;
}
.fz_12 {
  font-size: 12px;
}
.fz_14 {
  font-size: 14px;
}
.fz_16 {
  font-size: 16px;
}
.fz_18 {
  font-size: 18px;
}
.fz_20 {
  font-size: 20px;
}
.fz_24 {
  font-size: 24px;
}
.fz_32 {
  font-size: 32px;
}
.fz_48 {
  font-size: 48px;
}
.fz_md_12 {
  @include media-breakpoint-up(md) {
    font-size: 12px;
  }
}
.fz_md_14 {
  @include media-breakpoint-up(md) {
    font-size: 14px;
  }
}
.fz_md_16 {
  @include media-breakpoint-up(md) {
    font-size: 16px;
  }
}
.fz_md_24 {
  @include media-breakpoint-up(md) {
    font-size: 24px;
  }
}
.fz_md_32 {
  @include media-breakpoint-up(md) {
    font-size: 32px;
  }
}
.fz_md_48 {
  @include media-breakpoint-up(md) {
    font-size: 48px;
  }
}
.fz_xl_12 {
  @include media-breakpoint-up(xl) {
    font-size: 12px;
  }
}
.fz_xl_14 {
  @include media-breakpoint-up(xl) {
    font-size: 14px;
  }
}
.fz_xl_16 {
  @include media-breakpoint-up(xl) {
    font-size: 16px;
  }
}
.fz_xl_24 {
  @include media-breakpoint-up(xl) {
    font-size: 24px;
  }
}
// 推移工具
.py_92 {
  padding: 92px 0;
}
.mr_30 {
  margin-right: 30px !important;
}
.pr_1 {
  padding-right: 4px !important;
}
.py-10 {
  padding: 10px 0;
}
.px_12 {
  padding: 0 12px;
}
.ml_-20 {
  margin-left: -20px;
}
.mt_-24 {
  margin-top: -24px;
}
.mx_-24 {
  margin-right: -24px;
  margin-left: -24px;
}
.mb_128 {
  margin-bottom: 128px;
}
.px_15 {
  padding-right: 15px !important;
  padding-left: 15px !important;
}
.px_md_15 {
  @include media-breakpoint-up(md) {
    padding: 0 15px !important;
  }
}
.result_layout_mt {
  margin-top: 106px;
  @include media-breakpoint-up(md) {
    margin-top: 160px;
  }
  @include media-breakpoint-up(xl) {
    margin-top: 176px;
  }
}
// 背景圖片
.logoImg {
  background: url(../images/logo-aloha.svg) no-repeat;
  height: 24px;
  width: 96px;
}

.indexBannerImg {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/index-banner.jpg) no-repeat;
}
.hotelAquaImg {
  background: url(../images/top1.jpg) no-repeat;
}
.mrKawasakiInnImg {
  background: url(../images/top2.jpg) no-repeat;
}
.weeklyParadiseImg {
  background: url(../images/top3.jpg) no-repeat;
}
.beastHotelImg {
  background: url(../images/top4.jpg) no-repeat;
}
.osakaImg {
  background: linear-gradient(0.25turn, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)), url(../images/Osaka.jpg) no-repeat;
}
.kyotoImg {
  background: linear-gradient(0.25turn, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)), url(../images/Kyoto.jpg) no-repeat;
}
.reykjavíkImg {
  background: linear-gradient(0.25turn, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)), url(../images/Reykjavic.jpg) no-repeat;
}
.parisImg {
  background: linear-gradient(0.25turn, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)), url(../images/Paris.jpg) no-repeat;
}
.romaImg {
  background: linear-gradient(0.25turn, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)), url(../images/Roman.jpg) no-repeat;
}
.bangkokImg {
  background: linear-gradient(0.25turn, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)), url(../images/Bangkok.jpg) no-repeat;
}
.italyImg {
  background: url(../images/italy.jpg) no-repeat;
}
.thailandImg {
  background: url(../images/Thailand.jpg) no-repeat;
}
.newZealandImg {
  background: url(../images/NewZealand.jpg) no-repeat;
}
.rachadahotelImg {
  background: url(../images/Rachada1.jpg) no-repeat;
}
.foreverplaceImg {
  background: url(../images/Phaya.jpg) no-repeat;
}
.luvhotelImg {
  background: url(../images/Bangkapi.jpg) no-repeat;
}
.wowlifehotelImg {
  background: url(../images/Chatuchack1.jpg) no-repeat;
}
.celebritypalaceImg {
  background: url(../images/Chatuchack2.jpg) no-repeat;
}
.rrspaceImg {
  background: url(../images/RangRak.jpg) no-repeat;
}
.bangkokhostelImg {
  background: url(../images/Watana1.jpg) no-repeat;
}
.watanafirsthostelImg {
  background: url(../images/Watana2.jpg) no-repeat;
}
.ddspaceImg {
  background: url(../images/DinDaeng.jpg) no-repeat;
}
.dininnhotelImg {
  background: url(../images/DinDaeng2.jpg) no-repeat;
}
//datepicker設定
