// layout navbar手機版型設計
.navbar {
  height: 56px;
}
.navbar_menu {
  position: absolute;
  left: 0;
  width: 100%;
  top: 52px;
  height: 0;
  overflow: hidden;
  z-index: 120;
  transition: all 0.8s;
}
.navbar_menu-active.active {
  height: 140px;
}
.dropdown_menu {
  position: absolute;
  left: 27%;
  top: 80px;
  height: 122px;
  display: none !important;
  z-index: 130;
  border: solid 1px #00000000;
  border-radius: 10px;
}

.dropdown_menu.active {
  display: flex !important;
}
// layout navbar平板版型設計
@include media-breakpoint-up(md) {
  .navbar {
    height: 72px;
  }
  .navbar_menu {
    position: relative;
    top: 0;
    height: auto;
    width: auto;
    transition: none;
    z-index: auto;
    background: transparent !important;
  }
  .navbar_menu-active.active {
    height: auto;
  }
  .navbar-nav {
    flex-direction: row;
    height: auto;
  }
  .nav-item {
    width: auto !important;
  }
  .flexBlock {
    display: flex;
    align-items: center;
  }
  .dropdown_menu {
    left: 63%;
    top: 55px;
    @include media-breakpoint-up(lg) {
      left: 72%;
    }
    @include media-breakpoint-up(xl) {
      left: 77%;
    }
  }
}

.dropdown_menu {
  @media (min-width: 577px) and (max-width: 767.98px) {
    display: none !important;
  }
  @media (max-width: 768px) {
    display: flex !important;
  }
  @media (max-width: 769px) {
    display: none !important;
  }
}

// footer設定
.form-control {
  border-radius: 0;
}
.footerBannerTitle {
  font-size: 24px;
  @include media-breakpoint-up(md) {
    font-size: 48px;
  }
}
.btn-group {
  height: 56px;
  width: 100%;
  @include media-breakpoint-up(md) {
    width: 570px;
  }
  @include media-breakpoint-up(xl) {
    width: 540px;
  }
}
.emailSubscribeBtn {
  padding: 0 16px;
  @include media-breakpoint-up(md) {
    padding: 0 35.5px;
  }
}

.footerDropdown {
  display: none;
}
// result layoutHeader
.resultLayoutHeaderBlock {
  @include media-breakpoint-up(md) {
    width: 180px;
    height: 56px;
  }
  @include media-breakpoint-up(xl) {
    width: 312px;
  }
}
