.loginBanner {
  height: 100vh;
  @include media-breakpoint-up(md) {
    height: 1200px;
    background-size: cover;
    background-position: center 65%;
  }
  @include media-breakpoint-up(xl) {
    height: 100vh;
    width: 63.671875%;
  }
  @media (min-width: 1350px) {
    width: 60%;
  }
  @media (min-width: 1500px) {
    width: 57%;
  }
}
.top_0 {
  top: 0;
  right: 0;
  left: 0;
  margin: 0 auto !important;
}
.bottom_0 {
  bottom: 24px;
  left: 0;
  right: 0;
  margin: 0 auto !important;
}
