.userImg_sm {
  width: 24px;
  height: 24px;
  background-size: cover;
  background-position: center;
  border: 1.5px solid;
}
.userImg {
  width: 64px;
  height: 64px;
  background-size: cover;
  background-position: center;
}
.myBookingImg {
  width: 100%;
  height: 226px;
  background-size: cover;
  background-position: center;
  @include media-breakpoint-up(md) {
    width: 271px;
    height: 186px;
  }
  @include media-breakpoint-up(xl) {
    width: 255px;
    height: 183px;
  }
}
.myBookingItem:hover {
  text-decoration: none;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
