.reserveDetailList {
  box-shadow: 0 0.7rem 0.5rem -0.3rem rgba(0, 0, 0, 0.15) !important;
  top: 56px;
  z-index: 100;
  &.active {
    display: block !important;
  }
  @include media-breakpoint-up(md) {
    box-shadow: none !important;
    display: block !important;
    position: relative !important;
    top: 0;
  }
}
.reserveDetailListHeadPrice.active {
  display: none;
}
