.sortList {
  // top: 40px;
  left: 15px;
  right: 15px;
  max-width: 510px;
  height: auto !important;
  background: #f1f0f8;
  padding: 24px;
  display: none;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  &.active {
    display: block;
  }
  @include media-breakpoint-up(md) {
    position: relative !important;
    left: 0;
    right: 0;
    padding: 0;
    max-width: 100%;
    background: transparent;
    box-shadow: none;
    height: 100% !important;
  }
}
.checkBoxBtn {
  width: 24px;
  height: 24px;
  margin-top: 0;
}
.checkBox_check {
  display: none;
}
.checkBoxBtn:checked + .form-check-label {
  .checkBox_border {
    display: none;
  }
}
.checkBoxBtn:checked + .form-check-label {
  .checkBox_check {
    display: block;
  }
}
.filterBlock {
  top: -209px;
  width: 100vw;
  z-index: 300;
  display: none;
  &.active {
    display: block;
  }
  &.zIndexMax {
    z-index: 10000;
  }
  @media (min-width: 575px) {
    right: 7vw;
  }
  @media (min-width: 740px) {
    right: 12vw;
  }
  @include media-breakpoint-up(md) {
    z-index: auto;
    position: relative !important;
    top: 0;
    right: 0;
    width: auto;
    display: block;
    &.zIndexMax {
      z-index: 300;
    }
  }
}
.mobileFilterBtn {
  top: 78vh;
  left: 0;
  width: 100%;
}
.card_img {
  background-size: cover;
  background-position: center;
}
.resultRoomImg {
  height: 150px;
  width: 150px;
  @include media-breakpoint-up(md) {
    border-top-left-radius: 0.5rem !important;
    border-bottom-left-radius: 0.5rem !important;
  }
  @include media-breakpoint-up(xl) {
    width: 255px;
    height: 175px;
  }
}
.roomDeals {
  width: 115px !important;
  @include media-breakpoint-up(xl) {
    width: 120px !important;
    height: 25px;
  }
}
.resultCard:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  text-decoration: none;
  .roomName {
    text-decoration: underline;
  }
  .card_imgPrev,
  .card_imgNext {
    display: block !important;
  }
}
.page-hover:hover {
  background: #fff !important;
}
.resultPageBannerBtn-group {
  width: 330px !important;
  @include media-breakpoint-up(md) {
    width: 450px !important;
  }
  @include media-breakpoint-up(xl) {
    width: 635px !important;
  }
}
.resultPageBannerTitle {
  font-size: 24px;
  margin-bottom: 16px !important;
  @include media-breakpoint-up(md) {
    margin-bottom: 0 !important;
    margin-right: 70px !important;
  }
  @include media-breakpoint-up(xl) {
    font-size: 32px;
    margin-right: 36px !important;
  }
}
.resultPageBannerInput {
  width: 212px !important;
  @include media-breakpoint-up(md) {
    width: 300px !important;
  }
  @include media-breakpoint-up(xl) {
    width: 485px !important;
  }
}
