.roomDetailBanner {
  height: 247px;
  @include media-breakpoint-up(md) {
    height: 268px;
  }
  @include media-breakpoint-up(xl) {
    height: 434px;
  }
}
.roomDetailImg {
  background-size: cover;
  background-position: center;
}
.roomDetailImg_1 {
  width: 100%;
  height: 247px;
  @include media-breakpoint-up(md) {
    width: 390px;
    height: 268px;
  }
  @include media-breakpoint-up(xl) {
    width: 635px;
    height: 434px;
  }
}
.roomDetailImg_2 {
  @include media-breakpoint-up(md) {
    width: 296px;
    height: 132px;
  }
  @include media-breakpoint-up(xl) {
    width: 467px;
    height: 213px;
  }
}
.roomDetailImg_3 {
  @include media-breakpoint-up(md) {
    width: 132px;
    height: 132px;
  }
  @include media-breakpoint-up(xl) {
    width: 213px;
    height: 213px;
  }
}
.roomDetailImg_4 {
  @include media-breakpoint-up(md) {
    width: 160px;
    height: 93px;
  }
  @include media-breakpoint-up(xl) {
    width: 246px;
    height: 151px;
  }
}
.roomDetailImgBtn {
  @include media-breakpoint-up(md) {
    width: 160px;
    height: 34px;
  }
  @include media-breakpoint-up(xl) {
    width: 246px;
    height: 54px;
  }
}
.roomTypeImg {
  width: 150px;
  height: 150px;
  border-top-left-radius: 0.25rem;
  @include media-breakpoint-up(md) {
    border-bottom-left-radius: 0.25rem;
  }
  @include media-breakpoint-up(xl) {
    width: 255px;
    height: 175px;
  }
}
.roomProvide_item {
  @include media-breakpoint-up(xl) {
    width: 130px;
  }
}
.roomNum a {
  text-decoration: none;
}
.orderBtn {
  width: 161px;
  height: 56px;
  @include media-breakpoint-up(md) {
    width: 126px;
  }
}
.orderBlock {
  top: 65vh;
  display: none;
  @include media-breakpoint-up(md) {
    top: 85vh;
  }
  &.active {
    display: block;
  }
}
